body {
    background: black;
    min-height: 100vh;
}

.outerContainer {
    display: flex;
    padding: 5px;
    justify-content: center;

}

.sizeChange {

}

.container {
    display: flex;
    flex-grow: 1;
    margin-left: 20px;
    max-width: 700px;
    max-height: 700px;
}

.column {
    flex: 1;
}

.square {
    background: white;
    min-width: 5px;
    min-height: 5px;
    border: solid gray 1px;
    aspect-ratio: 1 / 1;
}

.changeColor {
    background: darkgray;
}
